/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define NUMPAD  1
#define MOVE    2
#define FUNC    3
#define CONFIG  4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMAK";
                        bindings = <
   &kp TAB       &kp Q &kp W &kp F &kp P      &kp B        &kp J &kp L &kp U    &kp Y   &kp SEMI &kp BKSP
   &kp ESC       &kp A &kp R &kp S &kp T      &kp G        &kp M &kp N &kp E    &kp I   &kp O    &kp DEL
   &kp LSHFT     &kp Z &kp X &kp C &kp D      &kp V        &kp K &kp H &kp CMMA &kp DOT &kp FSLH &kp ENTER
                   &kp LGUI &kp LALT &mo NUMPAD            &kp SPC &kp F13 &mo FUNC 
                        >;
                };

                
                   numpad_layer {
                        label = "NUMPAD";
                        bindings = < 
   &kp TAB     &kp QMARK &kp AT   &kp HASH &kp DLLR &kp PRCNT       &kp KP_SLASH    &kp N7 &kp N8 &kp N9 &kp KP_MINUS &kp BSPC
   &kp GRAVE   &kp EXCL  &kp AMPS &kp LPAR &kp RPAR &kp SQT         &kp KP_ASTERISK &kp N4 &kp N5 &kp N6 &kp KP_PLUS  &kp DEL
   &kp LSHFT   &kp BSLH  &kp TLDE &kp LBKT &kp RBKT &kp DQT         &kp CARET       &kp N1 &kp N2 &kp N3 &kp KP_EQUAL &kp ENTER
                              &mo CONFIG &kp LCTL &mo NUMPAD        &kp N0 &kp KP_DOT &kp CMMA
                        >;
                };
        };
};